CONFIG_TOOLCHAIN_GLIBC_64BIT_ARM=y
CONFIG_CROSS_COMPILE="aarch64-linux-gnu-"
CONFIG_STATIC_COMPILER_SUPPORT=y
CONFIG_SUPPORT_ATOMIC=y
CONFIG_SDK_DIR=""
CONFIG_MODULE_MEDIA_AUDIO=y
CONFIG_MODULE_MEDIA=y
CONFIG_MODULE_MEDIA_SYS=y
CONFIG_MODULE_MEDIA_VI=y
CONFIG_MODULE_MEDIA_VPSS=y
CONFIG_MODULE_MEDIA_VENC=y
CONFIG_MODULE_MEDIA_OSD=y
CONFIG_MODULE_NETWORK=y
CONFIG_MODULE_PARAMPARSE=y
CONFIG_MODULE_COMMON=y
CONFIG_MODULE_CJSON=y
CONFIG_MODULE_MININI=y
CONFIG_MODULE_MBUF=y
CONFIG_MODULE_PERIPHERAL=y
CONFIG_MODULE_ADC=y
CONFIG_MODULE_GPIO=y
CONFIG_MODULE_IRCUT=y
CONFIG_MODULE_PWM=y
CONFIG_MODULE_RTSP=y
CONFIG_MODULE_AI=y
CONFIG_MODULE_AI_MD=y
CONFIG_MODULE_AI_PD=y
CONFIG_MODULE_AI_HAND_DETECT=y
CONFIG_MODULE_AI_IRFAECE=n
CONFIG_MODULE_AI_FD_FACE=n
CONFIG_MODULE_AI_BABYCRY=n
CONFIG_MODULE_AI_CONSUMER_COUNTING=n
CONFIG_RESOURCE_INSTALL_BITMAP=y
CONFIG_RESOURCE_INSTALL_NETWORK_WWW=y
CONFIG_RESOURCE_INSTALL_FBM_CV186AH_WEVB_GC4653_AI=y
CONFIG_SENSOR_GCORE_GC4653=y
